@media screen and (min-width:768px) {

    body {
        width: 100%;
    }

    .navsp {
        display: none;
    }

    /*　　ヘッダーここまで　　*/


    .price h2 {
        color: #373737;
        font-size: 1.5em;
        margin: 40px auto;
        text-align: center;
    }

    .price h2:before {
        content: url(../images/iconmin.png);
        position: relative;
        top: 5px;
        margin-right: 5px;
    }



    .bright h3 {
        text-align: left;
        padding: 0 0 10px 1em;
        color: #373737;
    }




    /*　　メインここから　　*/

    .prce {
        width: 100%;

    }

    table {
        border: solid 1px #373737;
        margin: 10px auto 20px auto;
        text-align: center;
        color: #373737;

    }

    th {
        border: solid 1px #373737;
        width: 200px;
        padding: 10px;
        background-color: #f1d4af;
    }

    td {
        border: solid 1px #373737;
    }

    .ttop th {
        background-color: #edae5a;
    }


    .pricep {
        text-align: center;
        margin: 20px auto;
        display: block;
    }

    .pleft p {
        text-align: left;
        display: inline-block;
    }



    .pricesp {
        display: none;
    }



    .price2 {
        text-align: center;
        margin: 50px auto 20px auto;
        display: block;
        width: 100%;
    }

    .price2 ul {
        padding-left: 0;
        display: inline-block;

    }

    .price2 ul li {
        text-align: left;
        line-height: 1.2em;
        padding: 5px;
    }

    .price2 p {
        margin: 60px 0 40px 0;
    }

    .price2 a {
        color: #373737;
        background-color: #f1d4af;
        padding: 10px 30px;
        border-radius: 50%;
    }

    .price2 a:hover {
        background-color: #edae5a;
    }

    /*　　メインここまで　　*/




    .top {
        position: relative;
    }

    .top img {
        width: 60px;
        opacity: 0.7;
    }

    .top img:hover {
        opacity: 1;
    }

    .top {
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    footer {
        background-color: #edae5a;
        height: 50px;
    }

    footer small {
        margin: 0 auto;
        text-align: center;
        display: block;
        padding-top: 18px;
        color: #fff;
    }






    /* micro clearfx */
    .cf:before,
    .cf:after {
        content: "";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .cf {
        zoom: 1;
    }

    /* For IE 6/7 */

}

/*@media screen and (min-width:1276px) {
.ibox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}
.howto{
    text-align: center;
    margin: 0 auto;
}
}*/







/* レスポンシブここから */

@media screen and (max-width:767px) {

    body {
        width: 100%;
    }

    .navpc {
        display: none;
    }

    h1 {
        margin-top: 10px;
    }

    header>h1>a>img {
        width: 27%;
        margin: 0 auto;
        display: block;
    }

    header p {
        font-size: 1.5em;
        color: #373737;
        margin: 0 auto;
        text-align: center;
    }

    header a {
        text-decoration: none;
        color: #373737;
    }

    /* 電話・メールアイコン */
    header .header_icon {
        position: absolute;
        left: 0;
        top: 10px;
    }

    header .header_icon p {
        float: left;
        margin: 0 0 0 5px;
    }

    header .header_icon p a {
        display: inline-block;
    }

    header .header_icon p a img {
        width: 40px;
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 10px 0;
    }

    nav a {
        color: #373737;
        text-decoration: none;
        text-align: center;
        padding: 10px 20px;
        line-height: 1.2em;
        border-left: none;
        border-right: none;
        width: 110px;
        margin: 10px 0;
    }

    nav a:hover {
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 55px 0;
    }

    nav a:last-of-type {
        border-right: none;
        height: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 110px;
    }

    nav li:nth-of-type(3) a {
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 55px 0;
    }

    .underline p {
        border-bottom: #373737 dotted 1px;
        display: block;
        width: 80%;
        margin: 30px auto;
        text-align: center;
    }


    /*　　ヘッダーここまで　　*/


    h1 {
        color: #373737;
        font-size: 1.2em;
        margin: 10px auto;
        text-align: center;
    }


    .bright h3 {
        text-align: left;
        padding: 0 0 10px 1em;
        color: #373737;
    }




    /*　　メインここから　　*/
    .price {
        display: none;
    }

    .pricep {
        text-align: center;
        margin: 30px auto;
        display: block;
    }

    .pleft p {
        text-align: left;
        display: inline-block;
    }


    .pricesp2 {
        text-align: center;
        margin: 20px auto;
        border: dotted 1px #373737;
        width: 270px;
        padding: 20px 0;
    }

    .pricesp2 h4 {
        margin-bottom: 10px;
    }

    .pricesp2 p {
        line-height: 1.5em;
    }

    .pbold {
        width: 90px;
        display: inline-block;
        text-align: left;
    }






    .price2 {
        text-align: center;
        margin: 50px auto 20px auto;
        display: block;
        width: 100%;
    }

    .price2 ul {
        padding-left: 0;
        display: inline-block;

    }

    .price2 ul li {
        text-align: left;
        line-height: 1.5em;
        padding: 15px;
        width: 90%;
    }

    .price2 p {
        margin: 60px 0 40px 0;
    }

    .price2 a {
        color: #373737;
        background-color: #f1d4af;
        padding: 10px 20px;
        border-radius: 50%;
    }

    .price2 a:hover {
        background-color: #edae5a;
    }

    /*　　メインここまで　　*/


    .top {
        position: relative;
    }

    .top img {
        width: 40px;
        opacity: 0.7;
    }

    .top img:hover {
        opacity: 1;
    }

    .top {
        position: fixed;
        bottom: 50px;
        right: 20px;
    }

    footer {
        background-color: #edae5a;
        height: 50px;
    }

    footer small {
        margin: 0 auto;
        text-align: center;
        display: block;
        padding-top: 18px;
        color: #fff;
    }






    /* micro clearfx */
    .cf:before,
    .cf:after {
        content: "";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .cf {
        zoom: 1;
    }

    /* For IE 6/7 */

}

@media screen and (max-width:574px) {



    .bright h3 {
        text-align: left;
        padding: 10px 0 10px 1em;
        color: #373737;
    }




}




/* レスポンシブここまで */
